/* MONTSERRAT
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

LIBRE CASLON DISPLAY
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;

MRS SAINT DELAFIELD
  font-family: "Mrs Saint Delafield", cursive;
  font-weight: 400;
  font-style: normal;
*/


/* VARIABLES */
:root {
    --black-color: #24110F;
    --white-color: white;

}   


* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--white-color);
}

h1,
h2 {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

h3,
h4 {
    font-family: "Mrs Saint Delafield", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 2.9rem;
    margin: -1.3rem;
}

h4 {
    font-size: 2rem;
    margin-top: -10px;
}

p {
    font-size: 1rem;
    white-space: pre-line;
    text-align: justify;
}



/* HEADER */
header {
    width: 100%;
    height: 100vh;
    background: url("../MEDIA/IMG/VENECIA.webp") no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    position: fixed;
    width: 100%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    transition: 0.5s;
    z-index: 1;
    /* top: 0; */
    /* padding: 0.6rem 0; */
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5rem;
    transition: 0.5s;
    /* height: 3rem; */
}

.logo > :first-child {
    height: 2.2rem;
    margin-bottom: 2px;
}

#menu > ul {
    display: flex;
    list-style: none;
    height: 102%;
    align-items: center;
}

#menu > ul > li {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

#menu > ul > li > a {
    text-decoration-line: none;
    text-transform: uppercase;
    display: inline-block;
    /* width: fit-content; */
}

#menu ul li .nav_line::before,
#menu ul li .nav_line::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--white-color);
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

#menu ul li .nav_line:hover {
    font-weight: bolder;
    transition: 0.3s ease-in;
}

#menu ul li .nav_line:hover::after {
    transform: scaleX(1);
}

.carnaval-btn {
    padding: 8px 1rem;
    border-radius: 20px;
    transition: all 0.3s ease;
    border: 1px solid var(--white-color);
    cursor: pointer;
}

.carnaval-btn:hover {
    background-color: var(--white-color);
    color: var(--black-color);
    font-weight: 500;
}

/* M.hamburguesa y x - OCULTOS */
.menu-icon,
.close-icon{
    display: none;
}

/* TITULO CABECERA */
.title_header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12rem;
}

.title_header > a > i {
    font-size: 3rem;
    opacity: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.title_header > a > i:hover {
    opacity: 100%;
}



/* SECCION HISTORIA */
#historia {
    height: 100vh;
    padding: 0 8rem;
    background-color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

/* TITULOS CON LINEAS */
.title_lineas {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.linea {
    flex-grow: 1;
    height: 0.5px;
    background-color: var(--white-color);
}



/* SECCION - DESCUBRE */
#descubre {
    height: 100vh;
    padding: 4rem 8rem;
    background-color: var(--black-color);
}
/* 
#descubre > .title > .title_lineas > .linea{
    background-color: var(--black-color);
}

#descubre > .title > .title_lineas > h2,
#descubre > .title > h4 {
    color: var(--black-color);
} */

.mapa-google {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    overflow: hidden;
}

.mapa-google iframe {
    width: 80%;
    height: 35vw;
    border: none;
    position: relative;
    top: -45px;
}


/* SECCION - CARNAVALES */
/* .carousel {
    width: 90%;
    margin: 0 auto;
    position: relative;
    overflow: visible;
    padding-bottom: 2.5rem;
}

.carousel-track {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: transform .6s ease;
}

.slide {
    position: relative;
    flex: 0 0 30%;
    height: 380px;
    border-radius: 22px;
    overflow: hidden;
    transition: all .5s ease;
    opacity: 0.4;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

/* Efecto oscuro en laterales */
/* .slide:not(.active)::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
} */

/* Imagen central más grande */
/* .slide.active {
    flex: 0 0 40%;
    height: 450px;
    opacity: 1;
}

.slide.active::after {
    background: transparent;
} */

/* ---- Indicadores ---- */
/* .indicators {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
    transition: 0.3s ease;
}

.dot.active {
    background: #000;
} */




#carnavales {
    height: 100vh;
    background-color: var(--black-color);
}

#galeria {
    display: inline-block;
    margin: 0;
    line-height: 0;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}

#galeria figure {
    /* padding: 3rem 0; */
    margin: 0;
    position: relative;
    overflow: hidden;
    width: 40%;
    border-radius: 15px;
    aspect-ratio: 4/3;
}

#galeria figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    object-position: top;
}

@keyframes fade {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

#circulos {
    text-align: center;
    padding-top: 1rem;
}

#circulos > div {
    height: 1em;
    width: 1em;
    margin: 0.3em;
    border: var(--white-color) 2px solid;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active {
    background-color: var(--white-color);
}