/* MONTSERRAT
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

LIBRE CASLON DISPLAY
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;

MRS SAINT DELAFIELD
  font-family: "Mrs Saint Delafield", cursive;
  font-weight: 400;
  font-style: normal;
*/


/* VARIABLES */
:root {
    --black-color: #24110F;
    --white-color: white;

}   


* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--white-color);
}

h1,
h2 {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

h3,
h4 {
    font-family: "Mrs Saint Delafield", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 2.9rem;
    margin: -1.3rem;
}

h4 {
    font-size: 2rem;
    margin-top: -10px;
}

p {
    font-size: 1rem;
    white-space: pre-line;
    text-align: justify;
}



/* HEADER */
header {
    width: 100%;
    height: 100vh;
    background: url("../MEDIA/IMG/VENECIA.webp") no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 0.6rem 0; */
    height: 12vh;
    position: fixed;
    /* top: 0; */
    width: 100%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.logo {
    /* height: 3rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5rem;
}

.logo > :first-child {
    height: 2.2rem;
    margin-bottom: 2px;
}

#menu > ul {
    display: flex;
    align-items: center;
}

#menu > ul > li {
    list-style: none;
    padding: 0 2rem;
}

#menu > ul > li > a {
    text-decoration-line: none;
    text-transform: uppercase;
}

.carnaval-btn {
    padding: 8px 1rem;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--white-color);
    cursor: pointer;
}

.carnaval-btn:hover {
    background-color: var(--white-color);
    color: var(--black-color);
    font-weight: 500;
}

/* M.hamburguesa y x - OCULTOS */
.menu-icon,
.close-icon{
    display: none;
}

/* TITULO CABECERA */
.title_header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12rem;
}

.title_header > a > i {
    font-size: 3rem;
    opacity: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.title_header > a > i:hover {
    opacity: 100%;
}



/* SECCION HISTORIA */
#historia {
    height: 100vh;
    padding: 0 8rem;
    background-color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

/* TITULOS CON LINEAS */
.title_lineas {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.linea {
    flex-grow: 1;
    height: 0.5px;
    background-color: var(--white-color);
}



/* SECCION - DESCUBRE */
#descubre {
    height: 100vh;
    padding: 4rem 8rem;
    background-color: var(--black-color);
}
/* 
#descubre > .title > .title_lineas > .linea{
    background-color: var(--black-color);
}

#descubre > .title > .title_lineas > h2,
#descubre > .title > h4 {
    color: var(--black-color);
} */

.mapa-google {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.mapa-google iframe {
    width: 80%;
    height: 35vw;
    border: none;
}