/* MONTSERRAT
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

LIBRE CASLON DISPLAY
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;

MRS SAINT DELAFIELD
  font-family: "Mrs Saint Delafield", cursive;
  font-weight: 400;
  font-style: normal;
*/


/* VARIABLES */
:root {
    --black-color: #24110F;
    --white-color: white;
}   

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--white-color);
}

h1,
h2 {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

h3,
h4 {
    font-family: "Mrs Saint Delafield", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 2.9rem;
    margin: -1.3rem;
}

h4 {
    font-size: 2rem;
    margin-top: -10px;
}

h5 {
    font-weight: 600;
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
    white-space: pre-line;
    text-align: justify;
}

section {
    background-color: var(--black-color);
}



/* HEADER */
header,
#carnaval_header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    background: url("../MEDIA/IMG/VENECIA.webp") no-repeat center center/cover;
}

#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    position: fixed;
    width: 100%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    transition: 0.5s;
    z-index: 1;
    /* top: 0; */
    /* padding: 0.6rem 0; */
}

.logo,
footer :first-child a figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5rem;
    transition: 0.5s;
    /* height: 3rem; */
}

.logo > :first-child {
    height: 2.2rem;
    margin-bottom: 2px;
}

#menu > ul {
    display: flex;
    list-style: none;
    height: 102%;
    align-items: center;
}

#menu > ul > li {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

#menu > ul > li > a {
    text-decoration-line: none;
    text-transform: uppercase;
    display: inline-block;
    /* width: fit-content; */
}

#menu ul li .nav_line::before,
#menu ul li .nav_line::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--white-color);
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

#menu ul li .nav_line:hover {
    font-weight: bolder;
    transition: 0.3s ease-in;
}

#menu ul li .nav_line:hover::after {
    transform: scaleX(1);
}

.carnaval-btn {
    padding: 8px 1rem;
    border-radius: 20px;
    transition: all 0.3s ease;
    border: 1px solid var(--white-color);
    cursor: pointer;
}

.carnaval-btn:hover {
    background-color: var(--white-color);
    color: var(--black-color);
    font-weight: 500;
}

/* M.hamburguesa y x - OCULTOS */
.menu-icon,
.close-icon{
    display: none;
}

/* TITULO CABECERA */
.title_header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12rem;
}

.title_header > a > i,
#carnavales a i {
    opacity: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.title_header > a > i {
    font-size: 3rem;
    animation: bounce 2s infinite ease-in-out;
}

.title_header > a > i:hover,
#carnavales a i:hover {
    opacity: 100%;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

@keyframes bounce1 {
    0%, 100% {
        transform: rotate(-90deg) translateY(0);
    }
    50% {
        transform: rotate(-90deg) translateY(-15px);
    }
}



/* SECCION HISTORIA */
#historia,
#info_carnaval {
    height: 100vh;
    padding: 0 8rem;
    background-color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

/* TITULOS CON LINEAS */
.title_lineas {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.linea {
    flex-grow: 1;
    height: 0.5px;
    background-color: var(--white-color);
}



/* SECCION - DESCUBRE */
#descubre {
    /* height: 100vh; */
    padding: 4rem 8rem;
    background-color: var(--black-color);
}
/* 
#descubre > .title > .title_lineas > .linea{
    background-color: var(--black-color);
}

#descubre > .title > .title_lineas > h2,
#descubre > .title > h4 {
    color: var(--black-color);
} */

.mapa-google {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    overflow: hidden;
}

.mapa-google iframe {
    width: 80%;
    height: 35vw;
    border: none;
    position: relative;
    top: -45px;
}

/* .monumentos div figure img {
    width: 30%;
} */

.monumentos {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    max-width: 1400px;
    margin: 2rem auto;
    padding: 0 1.2rem;
    position: relative;
}

.monumentos::before {
    content: '';
    position: absolute;
    top: 14px;
    left: 38px;
    width: 2px;
    height: 100%;
    background:rgba(255, 255, 255, 0.5); 
}

.monumentos > div {
    display: grid;
    position: relative;
    align-items: center;
    padding-left: 4rem; 
    gap: 1.2rem;
    width: 90%;
}

.monumentos > div::before {
    content: '';
    position: absolute;
    left: 13px;
    top: 12px;
    width: 14px;
    height: 14px;
    background: var(--white-color);
    border-radius: 50%;
}

.monumentos h2 {
    font-size: 1.8rem;
}

.monumentos > div p {
    padding-right: 10%;
}

.monumentos figure {
    margin: 0;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    width: 70%;
}

.monumentos figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: sepia(0.2) contrast(1.1);
    transition: all 0.8s ease;
}



/* SECCION - CARNAVALES */
#carnavales {
    height: 100vh;
    background-color: var(--black-color);
    padding: 4rem 8rem;
}

#carnavales a i {
    font-size: 2rem;
    animation: bounce1 2s infinite ease-in-out;
}

#carnavales > :last-child a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 1.2rem;
    text-decoration: none;
}

#galeria {
    margin: 0;
    line-height: 0;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
}

#galeria figure {
    /* padding: 3rem 0; */
    margin: 0;
    display: none;
    position: relative;
    overflow: hidden;
    width: 40%;
    border-radius: 15px;
    aspect-ratio: 4/3;
    animation-name: fade;
    animation-duration: 2s;
}

#galeria figure:first-child {
    display: block;
}

#galeria figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    object-position: top;
}

@keyframes fade {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

#circulos {
    text-align: center;
    padding-top: 1rem;
}

#circulos > div {
    height: 0.8rem;
    width: 0.8rem;
    margin: 0.3em;
    border: var(--white-color) 2px solid;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active {
    background-color: var(--white-color);
}

.sb {
    text-align: center;
    text-decoration: none;
}

.sb span {
    border-radius: 2rem;
    margin-left: 1.1rem;
}


hr {
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    background-color: var(--black-color);
}

/* FOOTER */
footer {
    background-color: var(--black-color);
    display: flex;
    justify-content: space-around;
    padding: 3rem 0 6rem;
    align-items: self-end;
}

footer > div p {
    /* width: 7rem; */
    white-space: pre-line;
}

footer :first-child a figure {
    width: 10rem;
}

footer :first-child a figure > :first-child {
    height: 3.8rem;
    margin-bottom: 2px;
}


footer > div p {
    text-align: left;
    font-size: 0.8rem;
    margin-top: 1.8rem;
}

.info p {
    margin-top: 0.2rem;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}

.icons > a {
    font-size: 1.3rem;
}

.icons > a i {
    transition: all 0.3s ease;
}

.icons a:hover i {
    color: rgba(255, 255, 255, 0.5);
}

#newsletter {
    display: flex;
    flex-direction: column;
    align-items: self-end;
}

#newsletter h2 {
    font-size: 1.5rem;
}

#newsletter div {
    margin-top: 1rem;
    border: 2px solid;
    border-radius: 2rem;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#newsletter div form input {
    background-color: transparent;
    border: none;
    color: var(--white-color);
}

#newsletter div form input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

#newsletter div form input:focus {
    border-bottom-color: var(--white-color);
    outline: none;
}

#newsletter div form input[type=email] {
    margin: 0 10px;
}

#newsletter div form input[type=submit] {
    background-color: var(--white-color);
    color: var(--black-color);
    border: none;
    font-weight: 600;
    transition: transform 0.3s ease;
}

#newsletter div form input[type=submit] {
    border-radius: 18px;
    padding: 8px;
}

#newsletter div form input[type=submit]:hover {
    background: var(--black-color);
    color: var(--white-color);
    transition: transform 0.3s ease;
    cursor: pointer;
}





/* PAGINA DE CARNAVALES */
#carnaval_header {
    background:
        linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.3) 40%,
            transparent 100%
        ),
        url("../MEDIA/IMG/CARNAVAL.webp") no-repeat center center/cover;
}

#info_carnaval {
    height: 50vh;
    padding-bottom: 3rem;
}

#mascaras,
#fechas,
#grafica {
    height: 100vh;
    padding: 0 8rem;
}

#info_carnaval p > span,
#mascaras div p > span,
.text span {
    font-weight: 700;
}

.historia_carnaval {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    align-items: stretch;;
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 40px;
}

.historia_carnaval figure {
    margin: 0;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 12px;
}

.historia_carnaval figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.timeline {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    line-height: 1.4;
}

.row {
    display: grid;
    grid-template-columns: 6rem 1fr 6fr;
    align-items: start;
    column-gap: 1.2rem;
}

.line {
    border-bottom: 1px solid var(--white-color);
    margin-top: 0.8rem;
}

.text em {
    font-style: italic;
}


#floating-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    height: auto;
    border-radius: 12px;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
    opacity: 0;
    transition: opacity .25s ease;
}

#floating-img img {
    width: 100%;
    height: auto;
    display: block;
}

#hueco {
    padding: 6rem;
}


#grafica p {
    margin-top: 3rem;
}

#grafica main {
    display: flex;
    justify-content: center;
}

#grafica main div {
    width: 65%;
    margin: 4rem 2rem;
}



/* RESPONSIVE WEB DESIGN */
/* TABLET */
@media (max-width: 1024px) {
    h1 {
        font-size: 4.5rem;
    }
    
    h2 {
        font-size: 1.8rem;
    }
    
    h3 {
        font-size: 2.2rem; margin: -0.8rem;
    }
    
    h4 {
        font-size: 1.6rem; margin-top: -5px;
    }
    
    p {
        font-size: 0.9rem;
    }

    #historia,
    #descubre,
    #info_carnaval,
    #mascaras,
    #fechas,
    #grafica {
        padding: 2rem 5%;
        box-sizing: border-box;
        overflow-x: hidden;
    }
    
    .historia_carnaval figure,
    #mascaras,
    #fechas {
        height: 100%;
    }

    #descubre {
        overflow-x: visible;
    }
    
    #fechas {
        padding-top: 5rem;
    }

    .historia_carnaval {
        padding: 5% 0;
        margin: 0;
    }

    .monumentos > div {
        padding-left: 3rem;
    }

    .monumentos h2 {
        font-size: 1.5rem;
    }

    .monumentos > div p {
        padding-right: 10%;
    }

    .monumentos figure,
    #galeria figure {
        width: 75%;
    }

    #newsletter div {
        flex-direction: column;
        gap: 0.5rem;
    }

    #hueco {
        padding: 4rem;
    }

    #grafica {
        height: 100vh;
    }
}

/* MOVIL */
@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 2rem; margin: -0.6rem;
    }

    h4 {
        font-size: 1.4rem; margin-top: -5px;
    }

    h5 {
        font-size: 1rem;
    }

    p {
        font-size: 0.9rem;
    }

    #menu {
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        padding: 1rem 0;
        transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
        background-color: var(--black-color);
    }

    #menu > ul {
        flex-direction: column;
        gap: 1rem;
        height: auto;
    }

    .menu-icon, .close-icon {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
    }
    
    .close-icon {
        display: none;
    }

    #galeria figure {
        width: 90%;
    }

    .monumentos {
        gap: 3rem;
        padding: 0 1rem;
    }

    .historia_carnaval figure {
        height: 250px;
    }

    .timeline {
        gap: 1rem;
    }

    .row {
        grid-template-columns: 1fr; /* grid de 1 columna */
        gap: 1rem;
    }

    #floating-img {
        width: 180px;
    }

    #carnavales a.sb {
        width: 80%;
        margin: 2rem auto 0;
    }
}

/* Para pantallas muy pequeñas (móviles < 480px) */
@media (max-width: 480px) {
    h1 { font-size: 2.5rem; }
    h2 { font-size: 1.2rem; }
    h3 { font-size: 1.8rem; margin: -0.4rem; }
    h4 { font-size: 1.2rem; }
    p { font-size: 0.85rem; }

    #menu > ul > li {
        padding: 0.5rem 0;
    }

    .monumentos > div {
        padding-left: 1rem;
    }

    .historia_carnaval figure {
        height: 200px;
    }

    #galeria figure {
        width: 95%;
    }

    #newsletter div {
        width: 100%;
        flex-direction: column;
    }
}
